<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="https://bitbucket.org/websearchir/websearch" target="_blank">Source</a></li>
          <li class="divider"></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
