<html>
  <head>
    <title>About</title>
    {{> inc}}
  </head>
  <body>
    {{> menu}}
    <div class="jumbotron main">
      <h3>Search the University of Mannheim</h3>
      <p>
        This is a project for the <em>Web search and Information Retrieval</em> lecture
        at the University of Mannheim. It was written by:<br />
        <blockquote><a href="https://bitbucket.org/alex_diete">Alexander Diete</a><br />
          <a href="https://bitbucket.org/Kinchu">Thorsten Kn&ouml;ller</a><br />
        </blockquote>
      </p>
    </div>
  </body>
</html>
