<html>
  <head>
    <title>Err</title>
    {{> inc}}
  </head>
  <body>
    {{> menu}}
    <div class="jumbotron main top-margin">
      <h3>Error: {{error}}</h3>
      <p>Oh no an error occured. Please try again at the main page: <br />
      <a href="/">Link</a>
      </p>
    </div>
  </body>
</html>
