<html>
  <head>
    <title>{{title}}</title>
    {{> inc}}
  </head>
  <body>
    <div class="jumbotron main top-margin">
      <h3>Search the University of Mannheim</h3>
      <form class="form-inline" action="/query" method="get">
        <div class="form-wrapper">
          <input tpye="text" class="form-control search-input" id="q" name="q" />
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </body>
</html>
