<html>
<head>
    {{> inc}}
    <title>Search Result for "{{term}}"</title>
</head>
<body>
{{> menu}}
<div class="top">
    <form class="form-inline" role="form" action="/query" method="get">
        <div class="form-wrapper">
            <input type="text" class="form-control search-input" id="query" name="q" value="{{term}}"/>
            <input type="submit" class="btn btn-primary" id="go" value="Search"/>
        </div>
        <br />
        <select class="form-control" name="startDate">
            <option class="date-option" value="">No timeframe</option>
            <option class="date-option" value="DAY">Last 24 hours</option>
            <option class="date-option" value="WEEK">Last week</option>
            <option class="date-option" value="MONTH">Last month</option>
            <option class="date-option" value="YEAR">Last year</option>
            <option id="custom-option">Custom</option>
        </select>
        <input type="hidden" name="endDate" id="endDate">

        <select class="form-control" name="subdomain">
            <option class="faculty-option" value="">No faculty</option>
            <option class="faculty-option" value="philo">Philosophy</option>
            <option class="faculty-option" value="psycho">Psychology</option>
            <option class="faculty-option" value="jura">Jura</option>
            <option class="faculty-option" value="wim">WIM</option>
            <option class="faculty-option" value="sowi">SOWI</option>
            <option class="faculty-option" value="mkw">MKW</option>
            <option class="faculty-option" value="rz">RUMS</option>
            <option class="faculty-option" value="bwl">BWL</option>
            <option class="faculty-option" value="vwl">VWL</option>
            <option class="faculty-option" value="admin">Administration</option>
            <option class="faculty-option" value="service">Service</option>
            <option class="faculty-option" value="other">Other</option>
        </select>

    </form>
    <div class="custom-date" id="hidden-div">
        From: <input type="text" class="form-control date-input" id="datepicker">
        Untill: <input type="text" class="form-control date-input" id="datepicker-end">
    </div>
</div>
<div class="main">
    <h4>Search Result for "{{term}}" (Results found: {{results.numFound}}):</h4>
    {{#each results.docs}}
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="no-overflow" href="{{this.url}}">{{this.title}}</a><br/>
                <ul>
                    <li class="no-overflow">Source: {{this.url}}</li>
                    <li>Date: {{this.date}}</li>
                </ul>
                <div class="abstract">Abstract: {{this.abstract}}</div>
            </div>
        </div>
    {{/each}}
    <ul class="pagination">
        <li {{#isEqual results.start 0}} class="disabled" {{/isEqual}}>
          <a href="/query?q={{term}}&s={{prevItem results.start}}&startDate={{startDate}}&endDate={{endDate}}&subdomain={{subdomain}}">&laquo;</a>
        </li>
        {{#each results.pages}}
            <li class="{{classForPage ../results.start this}}">
                <a href="/query?q={{../term}}&s={{this}}&startDate={{../startDate}}&endDate={{../endDate}}&subdomain={{../subdomain}}">{{incIndex this}}</a>
            </li>
        {{/each}}
        <li {{#isEqual results.start results.max}} class="disabled" {{/isEqual}}>
          <a href="/query?q={{term}}&s={{nextItem results.start}}&startDate={{startDate}}&endDate={{endDate}}&subdomain={{subdomain}}">&raquo;</a>
        </li>
    </ul>
</div>
<script type="text/javascript">

    function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
            return sParameterName[1];
        }
      }
    }

    $.each($('.faculty-option'), function(index, val) {
      if ($( val ).val() == getUrlParameter('subdomain')) {
        $( val ).attr('selected', '');
      }
    })

    $.each($('.date-option'), function(index, val) {
      if ($( val ).val() == getUrlParameter('startDate')) {
        $( val ).attr('selected', '');
      }
    })

    var picker = new Pikaday({
        field: document.getElementById('datepicker'),
        firstDay: 1,
        format: 'YYYY-MM-DD',
        minDate: new Date('2008-01-01'),
        maxDate: new Date('2015-12-31'),
        yearRange: [2008, 2015]
    });

    var picker = new Pikaday({
        field: document.getElementById('datepicker-end'),
        firstDay: 1,
        format: 'YYYY-MM-DD',
        minDate: new Date('2008-01-01'),
        maxDate: new Date('2015-12-31'),
        yearRange: [2008, 2015]
    });

    $('#datepicker').change(function () {
        $('#custom-option').val($('#datepicker').val());
    });

    $('#datepicker-end').change(function () {
        $('#endDate').val($('#datepicker-end').val());
    });

    $('select').change(function () {
        if ($('select option:selected').attr('id') === 'custom-option') {
            $('#hidden-div').show();
        } else {
            $('#hidden-div').hide();
        }
    });


</script>
<body >
<html >
