body {
  padding-top: 70px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  color: grey;
}

.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  display: block;
}

.top {
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}

.main {
  max-width: 900px;
  margin: auto;
}

.result {
  border: solid 1px grey;
  padding: 10px;
}

.top-margin {
  margin-top: 12ex;
}

.form-wrapper {
  width: 100% !important;
}

.search-input {
  width: 80% !important;
}

.date-input {
  width: 150px !important;
}

.abstract {
  color: grey;
  font-size: 0.9em;
}

.custom-date {
  display: none;
}
